* {
  margin: 0px;
  padding: 0vh;
  box-sizing: border-box;
}

main {
  display: flex;
  justify-content: center;
}

img {
  width: 720px;
  border-radius: 40px;
  border: solid 8px black;
  margin: 15px;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.link-centrales2 {
  width: 260px;
}

body {
  background-image: url(../assets/img/new123.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}

header h1 {
  font-size: 50px;
  font-family: "Nabla", cursive;
}
header p {
  font-size: 45px;
  font-family: "Nabla", cursive;
}

.t1-320 {
  font-family: "Nabla", cursive;
  display: flex;
  justify-content: center;
  font-size: 60px;
  padding: 15px;
}

footer {
  flex-direction: column;
  text-align: center;
}
footer div p {
  font-size: 45px;
  font-family: "Nabla", cursive;
}
footer div p h2 {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 15px;
}

.txt-footer {
  background-color: rgba(0, 0, 0, 0.45);
  font-size: 25px;
  color: aliceblue;
  border-radius: 75px;
}

.t2 {
  font-family: "Nabla", cursive;
  display: flex;
  justify-content: center;
  font-size: 35px;
  border-style: groove;
  border-color: white;
  background-color: rgba(0, 0, 0, 0.45);
}

.main-global ol li a {
  text-decoration: none;
}

.main-global {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  padding: 10px;
}

.container {
  text-decoration: none;
}

.navbar {
  background-color: rgba(0, 0, 0, 0.5);
  padding: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: antiquewhite;
}

.navbar2 {
  padding: 25px;
  font-size: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.link-centrales2 {
  width: 260px;
}

.up img {
  height: 100px;
  float: right;
  margin: 5px;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto auto;
  background-color: rgba(0, 0, 0, 0.45);
  padding: 5px;
}

.t3 {
  font-family: "Nabla", cursive;
  display: flex;
  justify-content: center;
  font-size: 35px;
}

.grid-item1 {
  display: grid;
  grid-template-rows: auto;
  margin: auto;
  width: 60px;
}

.img320 {
  width: 800px;
  height: 700px;
  margin-left: 550px;
}

.p3 {
  display: flex;
  flex-direction: column;
  text-align: center;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 30px;
  color: rgb(255, 255, 255);
}

.no-link li a {
  text-decoration: none;
}

.txt p {
  background-color: rgba(0, 0, 0, 0.5);
  padding: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: antiquewhite;
}

.p3 {
  display: flex;
  flex-direction: column;
  text-align: center;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 30px;
  color: rgb(255, 255, 255);
}

.img-art {
  max-width: auto;
  margin: auto;
}

@media (max-width: 320px) {
  body {
    background-image: url(../assets/img/new123.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
  }
  .color {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 5px;
  }
  h1 {
    font-size: 25px;
    font-family: "Nabla", cursive;
  }
  p {
    font-size: 25px;
    font-family: "Nabla", cursive;
  }
  .link-centrales ul li {
    list-style: none;
    border-radius: 40px;
    text-align: center;
  }
  .link-centrales-320 {
    display: flex;
    flex-direction: column;
    padding-top: 19px;
  }
  footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 5px;
  }
  footer div {
    color: wheat;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  }
  /*Index*/
  /*Comienzo de Behavior_1*/
  .t2 {
    font-family: "Nabla", cursive;
    display: flex;
    justify-content: center;
    font-size: 22px;
    border-style: groove;
    border-color: white;
    background-color: rgba(0, 0, 0, 0.45);
  }
  .main-global ol li a {
    text-decoration: none;
  }
  .main-global {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding: 10px;
  }
  .navbar {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: antiquewhite;
  }
  .navbar2 {
    padding: 25px;
    font-size: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  h2 {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    font-size: 15px;
  }
  .link-centrales2 {
    width: 260px;
  }
  .img320 {
    width: 260px;
    height: 200px;
    margin-left: 25px;
  }
  .up img {
    height: 100px;
    float: right;
    margin: 5px;
  }
  .grid-container {
    display: grid;
    grid-template-columns: auto auto auto auto;
    background-color: rgba(0, 0, 0, 0.45);
    padding: 5px;
  }
  .t3 {
    font-family: "Nabla", cursive;
    display: flex;
    justify-content: center;
    font-size: 22px;
  }
  .grid-item1 {
    display: grid;
    grid-template-rows: auto;
    width: 45px;
  }
  /*Terminacion de Behavior 1*/
  /*Comienzo de Behavior 2*/
  .no-link li a {
    text-decoration: none;
  }
  .txt p {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: antiquewhite;
  }
  .p3 {
    background-color: rgba(0, 0, 0, 0.45);
    background-size: cover;
    display: flex;
    flex-direction: column;
    text-align: center;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    font-size: 13px;
    color: aliceblue;
  }
  .img-art {
    width: 200px;
    margin-left: 150px;
  }
}
/*Media de 320px terminado con sus 3 html*/
@media (max-width: 375px) {
  body {
    background-image: url(../assets/img/new123.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
  }
  .color {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 5px;
  }
  h1 {
    font-size: 25px;
    font-family: "Nabla", cursive;
  }
  p {
    font-size: 25px;
    font-family: "Nabla", cursive;
  }
  .link-centrales ul li {
    list-style: none;
    border-radius: 40px;
    text-align: center;
  }
  footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 5px;
  }
  .txt-footer {
    font-size: 8px;
    padding: 15px;
  }
  footer div {
    color: wheat;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  }
  /*Index*/
  /*Comienzo de Behavior_1*/
  .t1-320 {
    font-family: "Nabla", cursive;
    display: flex;
    justify-content: center;
    font-size: 35px;
    padding: 15px;
  }
  .t2 {
    font-family: "Nabla", cursive;
    display: flex;
    justify-content: center;
    font-size: 22px;
    border-style: groove;
    border-color: white;
    background-color: rgba(0, 0, 0, 0.45);
  }
  .main-global ol li a {
    text-decoration: none;
  }
  .main-global {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding: 10px;
  }
  .navbar {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: antiquewhite;
  }
  .navbar2 {
    padding: 25px;
    font-size: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  h2 {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    font-size: 15px;
  }
  .img320 {
    margin-left: 35px;
    width: auto;
    height: auto;
  }
  .up img {
    height: 100px;
    float: right;
    margin: 5px;
  }
  .grid-container {
    display: grid;
    grid-template-columns: auto auto auto auto;
    background-color: rgba(0, 0, 0, 0.45);
    padding: 5px;
  }
  .t3 {
    font-family: "Nabla", cursive;
    display: flex;
    justify-content: center;
    font-size: 22px;
  }
  .grid-item1 {
    display: grid;
    grid-template-rows: auto;
    width: 45px;
  }
  /*Terminacion de Behavior 1*/
  /*Comienzo de Behavior 2*/
  .no-link li a {
    text-decoration: none;
  }
  .txt p {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: antiquewhite;
  }
  .p3 {
    background-color: rgba(0, 0, 0, 0.45);
    background-size: cover;
    display: flex;
    flex-direction: column;
    text-align: center;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    font-size: 13px;
    color: aliceblue;
  }
  .img-art {
    width: 320px;
    margin-left: auto;
  }
}
/*Media de 375px terminado con sus 3 html*/
@media (max-width: 425px) {
  body {
    background-image: url(../assets/img/new123.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
  }
  .color {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 5px;
  }
  h1 {
    font-size: 25px;
    font-family: "Nabla", cursive;
  }
  p {
    font-size: 25px;
    font-family: "Nabla", cursive;
  }
  .link-centrales ul li {
    list-style: none;
    border-radius: 40px;
    text-align: center;
  }
  .img3 {
    display: block;
    width: 350px;
  }
  footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 5px;
  }
  .txt-footer {
    font-size: 8px;
    padding: 15px;
  }
  footer div {
    color: wheat;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  }
  /*Index*/
  /*Comienzo de Behavior_1*/
  .t1-320 {
    font-family: "Nabla", cursive;
    display: flex;
    justify-content: center;
    font-size: 35px;
    padding: 15px;
  }
  .t2 {
    font-family: "Nabla", cursive;
    display: flex;
    justify-content: center;
    font-size: 22px;
    border-style: groove;
    border-color: white;
    background-color: rgba(0, 0, 0, 0.45);
  }
  .main-global ol li a {
    text-decoration: none;
  }
  .main-global {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding: 10px;
  }
  .navbar {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: antiquewhite;
  }
  .navbar2 {
    padding: 25px;
    font-size: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .img320 {
    margin-left: 35px;
    width: auto;
    height: auto;
  }
  h2 {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    font-size: 15px;
  }
  .link-centrales2 {
    width: 260px;
  }
  .up img {
    height: 100px;
    float: right;
    margin: 5px;
  }
  .grid-container {
    display: grid;
    grid-template-columns: auto auto auto auto;
    background-color: rgba(0, 0, 0, 0.45);
    padding: 5px;
  }
  .t3 {
    font-family: "Nabla", cursive;
    display: flex;
    justify-content: center;
    font-size: 22px;
  }
  .grid-item1 {
    display: grid;
    grid-template-rows: auto;
    width: 45px;
  }
  /*Terminacion de Behavior 1*/
  /*Comienzo de Behavior 2*/
  .no-link li a {
    text-decoration: none;
  }
  .txt p {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: antiquewhite;
  }
  .p3 {
    background-color: rgba(0, 0, 0, 0.45);
    background-size: cover;
    display: flex;
    flex-direction: column;
    text-align: center;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    font-size: 13px;
    color: aliceblue;
  }
  .img-art {
    margin-left: 70px;
  }
}
@media (max-width: 768px) {
  body {
    background-image: url(../assets/img/new123.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
  }
  .color {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 5px;
  }
  h1 {
    font-size: 25px;
    font-family: "Nabla", cursive;
  }
  p {
    font-size: 25px;
    font-family: "Nabla", cursive;
  }
  .link-centrales ul li {
    list-style: none;
    border-radius: 40px;
    text-align: center;
  }
  img {
    width: 300px;
    border-radius: 40px;
    border: solid 4px black;
    margin: 15px;
  }
  footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 5px;
  }
  .txt-footer {
    font-size: 8px;
    padding: 15px;
  }
  footer div {
    color: wheat;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  }
  /*Index*/
  /*Comienzo de Behavior_1*/
  .t1-320 {
    font-family: "Nabla", cursive;
    display: flex;
    justify-content: center;
    font-size: 35px;
    padding: 15px;
  }
  .t2 {
    font-family: "Nabla", cursive;
    display: flex;
    justify-content: center;
    font-size: 22px;
    border-style: groove;
    border-color: white;
    background-color: rgba(0, 0, 0, 0.45);
  }
  .main-global ol li a {
    text-decoration: none;
  }
  .main-global {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding: 10px;
  }
  .navbar {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: antiquewhite;
  }
  .navbar2 {
    padding: 25px;
    font-size: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .img320 {
    margin-left: 35px;
    width: auto;
    height: auto;
  }
  h2 {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    font-size: 15px;
  }
  .link-centrales2 {
    width: 260px;
  }
  .up img {
    height: 100px;
    float: right;
    margin: 5px;
  }
  .grid-container {
    display: grid;
    grid-template-columns: auto auto auto auto;
    background-color: rgba(0, 0, 0, 0.45);
    padding: 5px;
  }
  .t3 {
    font-family: "Nabla", cursive;
    display: flex;
    justify-content: center;
    font-size: 22px;
  }
  .grid-item1 {
    display: grid;
    grid-template-rows: auto;
    width: 45px;
  }
  /*Terminacion de Behavior 1*/
  /*Comienzo de Behavior 2*/
  .no-link li a {
    text-decoration: none;
  }
  .txt p {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: antiquewhite;
  }
  .p3 {
    background-color: rgba(0, 0, 0, 0.45);
    background-size: cover;
    display: flex;
    flex-direction: column;
    text-align: center;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    font-size: 13px;
    color: aliceblue;
  }
  .img-art {
    margin: auto;
  }
}
@media (max-width: 1024px) {
  body {
    background-image: url(../assets/img/new123.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
  }
  .color {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 5px;
  }
  h1 {
    font-size: 25px;
    font-family: "Nabla", cursive;
  }
  p {
    font-size: 25px;
    font-family: "Nabla", cursive;
  }
  .link-centrales ul li {
    list-style: none;
    border-radius: 40px;
    text-align: center;
  }
  img {
    width: 300px;
    border-radius: 40px;
    border: solid 4px black;
    margin: 15px;
  }
  footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 5px;
  }
  .txt-footer {
    font-size: 8px;
    padding: 15px;
  }
  footer div {
    color: wheat;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  }
  /*Index*/
  /*Comienzo de Behavior_1*/
  .t1-320 {
    font-family: "Nabla", cursive;
    display: flex;
    justify-content: center;
    font-size: 35px;
    padding: 15px;
  }
  .t2 {
    font-family: "Nabla", cursive;
    display: flex;
    justify-content: center;
    font-size: 22px;
    border-style: groove;
    border-color: white;
    background-color: rgba(0, 0, 0, 0.45);
  }
  .main-global ol li a {
    text-decoration: none;
  }
  .main-global {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding: 10px;
  }
  .navbar {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: antiquewhite;
  }
  .navbar2 {
    padding: 25px;
    font-size: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .img320 {
    margin-left: 35px;
    width: auto;
    height: auto;
  }
  h2 {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    font-size: 15px;
  }
  .link-centrales2 {
    width: 260px;
  }
  .up img {
    height: 100px;
    float: right;
    margin: 5px;
  }
  .grid-container {
    display: grid;
    grid-template-columns: auto auto auto auto;
    background-color: rgba(0, 0, 0, 0.45);
    padding: 5px;
  }
  .t3 {
    font-family: "Nabla", cursive;
    display: flex;
    justify-content: center;
    font-size: 22px;
  }
  .grid-item1 {
    display: grid;
    grid-template-rows: auto;
    width: 45px;
  }
  /*Terminacion de Behavior 1*/
  /*Comienzo de Behavior 2*/
  .no-link li a {
    text-decoration: none;
  }
  .txt p {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: antiquewhite;
  }
  .p3 {
    background-color: rgba(0, 0, 0, 0.45);
    background-size: cover;
    display: flex;
    flex-direction: column;
    text-align: center;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    font-size: 13px;
    color: aliceblue;
  }
  .img-art {
    margin: auto;
  }
}
@media (max-width: 1440px) {
  body {
    background-image: url(../assets/img/new123.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
  }
  .color {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 5px;
  }
  h1 {
    font-size: 25px;
    font-family: "Nabla", cursive;
  }
  p {
    font-size: 25px;
    font-family: "Nabla", cursive;
  }
  .link-centrales ul li {
    list-style: none;
    border-radius: 40px;
    text-align: center;
  }
  img {
    width: 300px;
    border-radius: 40px;
    border: solid 4px black;
    margin: 15px;
  }
  footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 5px;
  }
  .txt-footer {
    font-size: 8px;
    padding: 15px;
  }
  footer div {
    color: wheat;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  }
  /*Index*/
  /*Comienzo de Behavior_1*/
  .t1-320 {
    font-family: "Nabla", cursive;
    display: flex;
    justify-content: center;
    font-size: 35px;
    padding: 15px;
  }
  .t2 {
    font-family: "Nabla", cursive;
    display: flex;
    justify-content: center;
    font-size: 22px;
    border-style: groove;
    border-color: white;
    background-color: rgba(0, 0, 0, 0.45);
  }
  .main-global ol li a {
    text-decoration: none;
  }
  .main-global {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding: 10px;
  }
  .navbar {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: antiquewhite;
  }
  .navbar2 {
    padding: 25px;
    font-size: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .img320 {
    margin-left: 35px;
    width: auto;
    height: auto;
  }
  h2 {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    font-size: 15px;
  }
  .link-centrales2 {
    width: 260px;
  }
  .up img {
    height: 100px;
    float: right;
    margin: 5px;
  }
  .grid-container {
    display: grid;
    grid-template-columns: auto auto auto auto;
    background-color: rgba(0, 0, 0, 0.45);
    padding: 5px;
  }
  .t3 {
    font-family: "Nabla", cursive;
    display: flex;
    justify-content: center;
    font-size: 22px;
  }
  .grid-item1 {
    display: grid;
    grid-template-rows: auto;
    width: 45px;
  }
  /*Terminacion de Behavior 1*/
  /*Comienzo de Behavior 2*/
  .no-link li a {
    text-decoration: none;
  }
  .txt p {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: antiquewhite;
  }
  .p3 {
    background-color: rgba(0, 0, 0, 0.45);
    background-size: cover;
    display: flex;
    flex-direction: column;
    text-align: center;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    font-size: 13px;
    color: aliceblue;
  }
  .img-art {
    margin: auto;
  }
}

/*# sourceMappingURL=style.css.map */
