body {
    background-image: url(../assets/img/new123.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}

header{
    h1 {
        font-size: 50px;
        font-family: $letritras;
    }
    p {
        font-size: 45px;
        font-family: $letritras;
    }
}

.t1-320 {
    font-family: $letritras;
    display: flex;
    justify-content: center;
    font-size: 60px;
    padding: 15px;
}

