
main {
    display: flex;
    justify-content: center;
  }
img{
    width: 720px;
    border-radius: 40px;
    border: solid 8px $color_negro;
    margin: 15px;
    align-items: center;
    display: flex;
    flex-direction: column;
    }
.link-centrales2 {
    width: 300px;
}